.breadcrumb-pos {
    margin-top: -1.4em;
}

.exhibitor-video {
    width: 50%;
    height: 400px;
}

.exhib-img {
    width: 40%;
    height: 200px;
    position: relative;
    margin-top: 20%;
    transform: translateY(-50%);
    border: 2px double #2e6da4;
    border-radius: 10px;
}

.exhib-img-padding {
    padding: 1em;
}

/*width="854" height="480"*/