.g-recaptcha {
    margin-bottom: 2em !important;
}

.form-div {
    margin: 0 0 5em 0 !important;
}

.submission {
    margin-right: 0;
}

.custom-container {
    /*margin: 0 auto;*/
}

.required {
    font-size: 120%;
    color: #b92c28;
}