.panel-body {
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.6s;
}

.panel-body:hover {
    background: transparent !important;
}

#workshop-modal{
    z-index: 10000 !important;
}

.workshop-title {
    /*text-align:justify;*/
    /*-moz-text-align-last: center;*/
    /*text-align-last: center;*/
    font-family: Somatic, sans-serif;
    color: black;
}

.modal-text {
    text-align:justify;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Times New Roman", sans-serif;
}

.workshop-panel {
    cursor: pointer;
}